.panel.panel-red
  .panel-heading
    .row
      .col-xs-3
        %i.fa.fa-map-marker.fa-5x
      .col-xs-9.text-right
        %h1 New ambiente
  .panel-body
    = render 'form'

    = link_to 'Back', ambientes_path, class: 'btn btn-default'
