.panel.panel-green
  .panel-heading
    .row
      .col-xs-3
        %i.fa.fa-tags.fa-5x
      .col-xs-9.text-right
        %h1 New loteingresso
  .panel-body
    = render 'form'

    = link_to 'Back', loteingressos_path, class: 'btn btn-default'
