%h1 Home#index
%p Find me in app/views/home/index.html.haml
%div.row
  %div.col-lg-4
    %div.panel.panel-default
      %div.panel-body
        %h3 Basic panel
%div.row
  %div.col-lg-4
    %div.panel.panel-default
      %div.panel-body
        %h3 Basic panel
