.panel.panel-yellow
  .panel-heading
    .row
      .col-xs-3
        %i.fa.fa-tasks.fa-5x
      .col-xs-9.text-right
        %h1 New empresa
  .panel-body
    = render 'form'

    = link_to 'Back', empresas_path, class: 'btn btn-default'
